.about {
    padding: 250px 0 0 0;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    position: relative;
    overflow: hidden;
}

.about .img {
    position: absolute;
    top: -40px;
    width: 500px;
    height: 500px;
    background-image: url('../../Static/Images/rupixen-com-zWe0UhHdi60-unsplash.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    filter: grayscale(100%);
}

.about .about-text-container {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding: 100px 220px;
    font-size: 30px;
    font-weight: 300;
    color: white;
    opacity: 0.9;
    font-style: italic;
    position: relative;
    transform: translateZ(0);
}

.about .about-text-container > div {
    margin-bottom: 30px;
}

.about .about-text-container > div:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .about {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .about .img {
        width: 350px;
        height: 500px;
        right: 20px;
    }

    .about .about-text-container {
        padding: 65px 30px 45px 30px;
        font-size: 24px;
    }
}
