.landing {
    width: 100%;
    height: 100vh;
    position: relative;
}

.landing .name-and-role-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: BasementGrotesque;
    width: fit-content;
    margin: 0 auto;
}

.landing .name {
    font-size: 100px;
    opacity: 0.8;
}

.landing .role {
    font-size: 18px;
    color: #00becf;
    width: 100%;
    text-align: right;
    margin-bottom: -20px;
    margin-right: 4px;
}

.landing .social-container {
    position: absolute;
    top: 0;
    padding: 32px 70px;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.landing .social-container .social-icon {
    color: white;
    opacity: 0.4;
    margin: 6px 0;
}

.landing .social-container .social-icon:hover {
    opacity: 1;
}

.landing .img {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-image: url('../../Static/Images/henry-co-mjPs0heWsek-unsplash.jpg');
    background-size: cover;
    opacity: 0.14;
    z-index: 0;
    pointer-events: none;
}

.landing .welcome-msg {
    position: absolute;
    right: 200px;
    bottom: 150px;
    max-width: 255px;
    z-index: 5;
    text-align: right;
    color: white;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.landing .welcome-title {
    font-size: 19px;
}

.landing .welcome-text {
    opacity: 0.5;
    font-style: italic;
    margin: 28px 0;
}

.landing .welcome-btn {
    display: flex;
    justify-content: flex-end;
}

.landing .welcome-btn button {
    border-radius: 0px;
    background-color: #00becf;
}

.landing .welcome-btn button:hover {
    background-color: #008b97;
}

.landing .scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
    pointer-events: none;
}

.landing .scroll > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing .scroll .text {
    writing-mode: tb-rl;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: white;
    opacity: 0.5;
    font-style: italic;
    pointer-events: all;
}

.landing .scroll .line {
    width: 1px;
    height: 50px;
    background-color: white;
    opacity: 0.4;
    margin-top: 12px;
}

@media screen and (max-width: 1000px) {
    .landing .social-container {
        justify-content: flex-end;
        padding: 35px 20px;
        height: calc(100vh - 70px);
    }

    .landing .social-container .social-icon {
        margin: 0;
        font-size: 24px;
    }

    .landing .name {
        font-size: 48px;
    }

    .landing .role {
        text-align: left;
        margin-bottom: -76px;
        margin-right: 0;
        margin-left: 4px;
        font-size: 18px;
    }

    .landing .welcome-msg {
        display: none;
    }

    .landing .scroll {
        justify-content: flex-end;
    }

    .landing .scroll > div {
        margin-right: 45px;
    }
}
