.app {
    background: hsla(0, 0%, 7%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 7%, 1) 0%, hsla(0, 0%, 22%, 1) 50%, hsla(0, 0%, 15%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 7%, 1) 0%, hsla(0, 0%, 22%, 1) 50%, hsla(0, 0%, 15%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 7%, 1) 0%, hsla(0, 0%, 22%, 1) 50%, hsla(0, 0%, 15%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#131313", endColorstr="#383838", GradientType=1);
}
