.skills {
    padding: 200px 0;
}

.skills .title {
    width: 100%;
    text-align: center;
    font-family: BasementGrotesque;
    font-size: 60px;
    opacity: 0.2;
    text-transform: uppercase;
    font-style: italic;
}

.skills .content {
    width: 1000px;
    margin: 0 auto;
}

.skills .skill-category-container {
    margin-top: 250px;
}

.skills .skill-category-container.right-align {
    text-align: right;
}

.skills .skill-category-container .skill-category-title {
    font-size: 110px;
    font-family: BasementGrotesque;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    opacity: 0.8;
}


